<h1><b>Marielle Isla</b></h1>
<%= image_tag("IMG_2750_1.jpg") %>
<div id="bkgd">I'm from Phoenix, Arizona.</div>
<em>I am a sophomore.</em>
<br>
<b id="fact"> Fun Fact: I am allergic to horses</b>
<p id="excited">I'm most excited to be able to be able to develop
    both ends of a website by the end of the class. :)</p>

